_tmp_uploads/
arquivos/
config/
dist/
logs/
models/
node_modules/
ocr-service/
poppler/
Tesseract-OCR
uploads
.env
belenergy.exe
build.bat
build_installer.bat
credentials.json
iniciar.bat
installer.py
node.exe
ocr_server.exe
ollama.exe
setup.bat
start.bat